**/bin/
**/obj/
**/out/
**/TestResults/
**/*.db
**/*.db-shm
**/*.db-wal
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/.git
**/.gitignore
**/.env
Dockerfile
docker-compose*.yml
.dockerignore
README.md
*.http
